div.rezervasyon{
    padding-left: 100px 100px 100px 100px;
}
h1{
    text-align: center;
}
table.baslik{
    background-color:rgb(48, 91, 233);
}
form.giris{
   
    padding-top: 60px;
    padding-left: 450px;
   
}
